# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Node / Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
