django>=4.2,<6.1
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
psycopg2-binary
dj-database-url
python-dotenv
Pillow
whitenoise
gunicorn
cloudinary
django-cloudinary-storage
